body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    background-color: #f8f8f8;
    color: #333;
    flex-direction: column; /* Adjusted to a column layout */
}

header {
    background-color: #ffffcc;
    color: #737373;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

.description {
    color: #ddd;
}

.ingredients {
    flex: 0 0 30%;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.instructions {
    flex: 0 0 70%;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1, h4 {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.instructions h4 {
    color: #333;
}

.instructions p {
    line-height: 1.6;
}
