body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    background-color: #f8f8f8;
    color: #333;
}

header, footer {
    flex: 1 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.description {
    flex: 1 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.ingredients {
    flex: 0 0 30%;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructions {
    flex: 1;
    margin-left: 20px;
}

h1, h4 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.instructions h4 {
    color: #333;
}

.instructions p {
    line-height: 1.6;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
